name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install glib and pkg-config
        run: |
          sudo apt-get update
          sudo apt-get install -y libglib2.0-dev pkg-config
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
